server:
  port: 8000
spring:
  application:
    name: 05-cambio-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cambio_service?useTimeZone=true&serverTimeZone=UTC
    username: root
    password: 181298
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true #usar apenas em ambiente de desenvolvimento / desabilitar em ambiente de produção (é muito pesado).
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  flyway:
    url: jdbc:mysql://localhost:3306/
    schemas: cambio_service
    user: root
    password: 181298